#!/usr/bin/env bash
set -euo pipefail

source test/prelude.sh
prelude "${BASH_SOURCE[0]}"

cat >>BUILD.bazel <<EOF
cc_binary(
    name = "noreturn_expect",
    srcs = ["noreturn_expect.cpp"],
    copts = [
        "-std=c++$CC_BINARY_CXXSTD",
        "-Werror",
        "-Wall",
        "-Wextra",
    ],
    malloc = "$CC_BINARY_MALLOC",
    deps = [":external_skytest"],
)
EOF

cat >noreturn_expect.cpp <<EOF
#include "skytest/skytest.hpp"

auto main() -> int
{
    using namespace ::skytest::literals;
    using ::skytest::eq;
    using ::skytest::expect;

    "noreturn"_test = [] {
        // not returned in test closure
        expect(eq(1, 1));

        return expect(eq(1, 1));
    };
}
EOF

bazel build -s //:noreturn_expect
