import %workspace%/.common.bazelrc

build --curses=yes

build:clang --extra_toolchains=//toolchain:clang
build:gcc   --extra_toolchains=//toolchain:gcc

build:clang-format --aspects @bazel_clang_format//:defs.bzl%clang_format_aspect
build:clang-format --@bazel_clang_format//:binary=@llvm_toolchain//:clang-format
build:clang-format --@bazel_clang_format//:config=//:format_config
build:clang-format --output_groups=report
build:clang-format --keep_going

build --@rules_clang_tidy//:clang-tidy=@llvm_toolchain//:clang-tidy
build --@rules_clang_tidy//:config=//:tidy_config

try-import %workspace%/user.bazelrc
